<%= form_with(model: [:admin, prova], local: true, class: 'mt-3', data: { turbo: false }) do |form| %>
  <% if prova.errors.any? %>
    <div class="alert alert-danger">
      <h5>Erros ao salvar:</h5>
      <ul>
        <% prova.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :titulo, 'Título', class: 'form-label' %>
    <%= form.text_field :titulo, class: 'form-control', required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :descricao, 'Descrição', class: 'form-label' %>
    <%= form.text_area :descricao, class: 'form-control', rows: 3 %>
  </div>

  <h4 class="mt-4">Questões</h4>
  <div id="questaos">
    <%= form.fields_for :questaos do |questao_form| %>
      <%= render 'questao_fields', f: questao_form %>
    <% end %>
    <div class="mb-3">
      <%= link_to_add_association 'Adicionar Questão', form, :questaos, class: 'btn btn-primary', data: { association_insertion: "after" } %>
    </div>
  </div>
  <div class="mb-3">
  <%= form.label :serieano_ids, 'Séries', class: 'form-label' %>
  <%= form.collection_select :serieano_ids, Serieano.all, :id, :nome, { prompt: 'Selecione as séries' }, { class: 'form-select', multiple: true, required: true } %>
  </div>
  <%= form.submit class: 'btn btn-success' %>
<% end %>
