<%= form_with(model: prova) do |form| %>
  <% if prova.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prova.errors.count, "error") %> prohibited this prova from being saved:</h2>

      <ul>
        <% prova.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.textarea :descricao %>
  </div>

  <div>
    <%= form.label :data_inicio, style: "display: block" %>
    <%= form.datetime_field :data_inicio %>
  </div>

  <div>
    <%= form.label :data_fim, style: "display: block" %>
    <%= form.datetime_field :data_fim %>
  </div>

  <div>
    <%= form.label :instituica_id, style: "display: block" %>
    <%= form.text_field :instituica_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
