<div id="<%= dom_id prova %>">
  <p>
    <strong>Titulo:</strong>
    <%= prova.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= prova.descricao %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= prova.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= prova.data_fim %>
  </p>

  <p>
    <strong>Instituica:</strong>
    <%= prova.instituica_id %>
  </p>

</div>
