<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Instituica:</strong>
    <%= aluno.instituica_id %>
  </p>

  <p>
    <strong>Escola:</strong>
    <%= aluno.escola_id %>
  </p>

  <p>
    <strong>Série/Ano:</strong>
    <%= aluno.serieano&.nome || aluno.serieano_id %>
  </p>

</div>
