<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Instituica:</strong>
    <%= aluno.instituica_id %>
  </p>

  <p>
    <strong>Escola:</strong>
    <%= aluno.escola_id %>
  </p>

  <p>
    <strong>Serie:</strong>
    <%= aluno.serie_id %>
  </p>

</div>
