<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.nome %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= user.tipo %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= user.telefone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

  <p>
    <strong>Intituica:</strong>
    <%= user.intituica_id %>
  </p>

</div>
